.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.admin-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 40px;
  flex-shrink: 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.main-panel {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.dashboard-grid {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column > *, .right-column > * {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
