.reservation-detail-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top:30px;
  padding: 24px;
  font-size: 14px;
  color: #333;
  min-width: 320px;
  max-width: 400px;
  flex-shrink: 0;
  height: fit-content;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.reservation-detail-panel h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #2f3f50;
}

.reservation-detail-panel p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.email-box {
  margin-top: 20px;
}

.email-box label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #555;
}

.email-box textarea {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  font-family: inherit;
  background-color: #f9f9f9;
}

.send-email-button{
  color: #555;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.alreadysent{
  color: #f47c36;
  font-weight: bold;
}

.cancel-button {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.checkin-button {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.checkin-button:hover {
  background-color: #056dc2;
}
