.main-header {
    background-color: white;
    padding: 20px 0;
  }
  
  .header-inner {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left,
  .center,
  .right {
    display: flex;
    align-items: center;
  }
  
  .left {
    padding-top: 15px;
    flex: 1;
  }
  
  .center {
    flex: 2;
    justify-content: center;
    gap: 120px;
    font-size: 15px;
  }
  
  .right {
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    font-size: 15px;
  }
  
  .header-logo {
    height:70px;
    object-fit: contain;
    cursor: pointer;
  }
  
  .center a,
  .right a {
    color: #333;
    text-decoration: none;
  }
  
  .center .highlight {
    font-weight: 600;
    color: #0d6efd;
  }
  .right .admin-login {
    margin-left: 10px; 
    font-weight: 500;
    color: #0d6efd; 
  }

  .right button{
    border: none;
    background-color: #fff;
  }