.custom-modal.modal-dialog {
 max-width: 800px;
 
  margin-top:40px;
}

.custom-modal .modal-content {
  height: 700px; 
  display: flex;
  flex-direction: column;
}

.custom-modal .modal-body {
  flex: 1; /* ✅ 높이 자동 확장되도록 */
  overflow-y: auto;
  padding: 30px;
  font-family: 'Pretendard', sans-serif;
}

.custom-modal .modal-title {
  font-weight: 600;
  font-size: 22px;
}
